@CHARSET "UTF-8";

.vm-freeBoardWrite__category { 
	height: 45px; 
	width: 200px; 
	border-radius: 5px; 
	padding: 5px;
}
.vm-freeBoardWrite__title-input { 
	border :1px solid #a9a9a9; 
	width: 976px;
}
