@CHARSET "UTF-8";

.vm-noticeModify__table {
	font-size: .85rem;
	letter-spacing: -.08rem;
}


.vm-noticeModify__div {
	min-height:150px;
	border:1px solid lightGrey;
	font-size: 1.2rem;
	vertical-align: middle;
}


.vm-noticeModify a {
	text-decoration: none;
	color: #555;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

.vm-noticeModify a:hover {
	text-decoration: none;
	color: red;
}


.vm-noticeModify__filebox input[type="file"] { 
   position: absolute; 
   width: 1px; 
   height: 1px; 
   padding: 0; 
   margin: -1px; 
   overflow: hidden; 
   clip:rect(0,0,0,0); 
   border: 0; 
} 
.vm-noticeModify__filebox label { 
   display: inline-block; 
   padding: .75em .75em; 
   margin: 0;
   color: #fff; 
   font-size: inherit; 
   line-height: normal; 
   vertical-align: middle; 
   background-color: #5e72e4; 
   cursor: pointer; 
   border: 1px solid #5e72e4; 
   border-bottom-color: #5e72e4; 
   border-radius: .25em;
} 

.vm-noticeModify__upload-name { 
   width : 90%;
   height: 100%;
   display: inline-block; 
   padding: .5em .75em;
   font-size: inherit; 
   font-family: inherit; 
   line-height: normal; 
   vertical-align: middle; 
   background-color: #f5f5f5; 
   border: 1px solid #ebebeb; 
   -webkit-appearance: none;
   -moz-appearance: none; 
   appearance: none; 
}


